RewriteEngine On

RewriteRule ^logout$ ?action=login [L]
RewriteRule ^accueil$ ?action=accueil [L]
RewriteRule ^detail-([0-9]+)$ ?action=detail&idU=$1 [L]
RewriteRule ^random$ ?action=tire [L]
RewriteRule ^confirmation-([0-9]+)$ ?action=envoie&idU=$1 [L]

<FilesMatch "index\.php">
    Allow from all
</FilesMatch>

<FilesMatch ".env">
    Deny from all
</FilesMatch>

# Renvoie vers index.php qui appelle le controleur principal qui lui va appeler le controleur erreur.php
ErrorDocument 403 /Projets%20Roulette/?action=erreur&cause=403
ErrorDocument 404 /Projets%20Roulette/?action=erreur&cause=404
ErrorDocument 500 /Projets%20Roulette/?action=erreur&cause=500